<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        ul
            li
                a(href="/signin") signIn
            li
                a(href="/email") password1
            li
                a(href="/email/ready") password2
            li
                a(href="/email/ready/reset") password3
            li
                a(href="/signup") signUp1
            li
                a(href="/signup/complete") signUp2
            li
                a(href="/signup/complete/ready") signUp6
            li
                a(href="/personal") personal
            li
                a(href="/search") search
            li
                a(href="/chat") chat