<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        ul
            li
                a(href="signIn.html") signIn
            li
                a(href="password1.html") password1
            li
                a(href="password2.html") password2
            li
                a(href="password3.html") password3
            li
                a(href="signUp1") signUp1
            li
                a(href="signUp2") signUp2
            li
                a(href="signUp6") signUp6
            li
                a(href="personal.html") personal
            li
                a(href="search.html") search
            li
                a(href="chat.html") chat