extends layout/base.pug
block variables
    -const linkInHeader="/signIn.html"
    -const linkDescription="Sign in"
    -const question="Back to"
    -const title="Password recovery"
block content
    .content
        .envelop
            img(src="./img/email.svg", alt="")
            h1 You are almost ready to go!
            h2 Please check your email to reset your password