extends layout/base.pug
block variables
    -const linkInHeader="###"
    -const linkDescription="Log in"
    -const question="Already have an account?"
    -const title="Sign Up"
block content
    .content
        .envelop
            img(src="./img/email.svg", alt="")
            h1 You are almost ready to go!
            h2 Please check your email to activate your account