extends layout/base.pug
block variables
    -const linkInHeader="###"
    -const linkDescription="Log in"
    -const question="Already have an account?"
    -const title="Sign up"
block content
    section.content
        .container
            form.send(action="/reg" method="POST")
                legend.send__name Sign Up
                .send__same
                    input(placeholder="First name" type="text" name="firstname")
                    input(placeholder="Last name" type="text" name="lastname")
                input(placeholder="Username" type="text" name="username")
                input(placeholder="E-mail" type="email" name="email")
                .send__button
                    button(type="submit") Get started