block variables
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto&display=swap")
        link(rel="stylesheet", href="./css/main__profile.css")
        title= title
    body
        main.main
            aside.sidebar
                .logo
                ul
                    li.sidebar__item
                        a(href="search.html")
                            if (title === "Search/Results")
                                img(src="./img/searchW.svg", alt="")
                            if (title === "Profile/Personal")
                                img(src="./img/search.svg", alt="")
                    li.sidebar__item
                        a(href="personal.html")
                            if (title === "Search/Results")
                                img(src="./img/myprofile.svg", alt="")
                            if (title === "Profile/Personal")
                                img(src="./img/profileActiv.svg")
                    li.sidebar__item
                        a(href="chat.html")
                            img(src="./img/envelope.svg", alt="")
                    li.sidebar__item
                        a(href="###")
                            img.img-date(src="./img/date.svg", alt="")
                            img(src="./img/calendar.svg", alt="")
            .container
                header.header
                    .linetop
                        .burger
                            .burger__line
                            .burger__line
                            .burger__line
                        a.linetop__words(href="###") Home
                        img.linetop__element(src="./img/Vector.svg", alt="")
                        a.linetop__words(href="###") My profile
                        if (title === "Search/Results")
                            img.linetop__element(src="./img/Vector.svg", alt="")
                            a.linetop__words(href="###") Results
                    .profile
                        a.profile__link(href="###")
                            p.linetop__words= nameProfile
                        img(src="./img/Shape.svg", alt="")
                block content
        script(src="./js/line.js")
        script(src="./js/burger.js")